# Application
NEXT_PUBLIC_API_URL=https://api.shomaj.one/api/v1
NEXT_PUBLIC_API_URL_BACKUP=https://supershop-backend-531309434570.asia-southeast1.run.app/api/v1
NEXT_PUBLIC_APP_NAME=SuperShop

# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAwSMtDIHxYyQVfs8uvzdFId2OXX4LWa4E
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=shomaj-817b0.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=shomaj-817b0
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=shomaj-817b0.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=531309434570
NEXT_PUBLIC_FIREBASE_APP_ID=1:531309434570:web:c4daf065cc332af5df0633
